# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env/
*.env
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Logs and cache
*.log
*.cache/
backend/starry-tracker-449020-f2-98e23064a0ed.json
/backend/__pycache__
/backend/__pycache__
/backend/__pycache__
backend/__pycache__/gcs_utils.cpython-313.pyc
/backend/__pycache__
*.pyc
.DS_Store
/backend/__pycache__
backend/__pycache__/gcs_utils.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/header.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/length.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/link_lists.bin
backend/chroma_langchain_db/chroma.sqlite3
backend/chroma_langchain_db/chroma.sqlite3
